<section class="body">
  <h1>Adventures</h1>
  <h3>Want to do something awesome together?</h3>
  <button class="cta">Let's Go!</button>
  <nav class="secondary">
    <a href="">Appalchain Trail Thru-Hike</a>
    <a href="">Horse Wrangling</a>
    <a href="">Study Abroad</a>
    <a href="">Shorts</a>

  </nav>
  <h2>Appalchain Trail Thru-Hike</h2>
  <h3>Georgia -> Maine</h3>
  <h3 class='date'>2017</h3>
  <p>Started: Feb 28th</p>
  <p>Finished: June 24</p>
  <p>Three Months & 28 Days</p>
  <p>I thru-hiked with the trail-name Fjord</p>
  <a href="">Instagram</a>
  <h4>Mentions</h4>
  <a href="">Trek Article</a>
  <a href="">YouTuber</a>

  <h2>Shorts</h2>
  <h3>Everywhere</h3>
  <h3 class='date'>All the Time!</h3>

  <h2>Horse Wrangling</h2>
  <h3>Glacier National Park</h3>
  <h3 class='date'>2016</h3>

  <h2>Study Abroad</h2>
  <h3>Cork, Ireland</h3>
  <h3 class='date'>2014</h3>

  2017 - Appalachian trail thru-hike 2016 - Horse wrangling in Montana 2014 - Study Abroad in Ireland // // Maybe a screenshot of that heinous website I made as a kid? // Also, some links to Haile's Angels Rescue and my current dog // foster. It would be cool to have a 'foster of the moment' app // that would pull relevant instagram images. // // Also, need some links to yummy chocolate recipes! // And cool hikes in Florida.
</section>