---
title: Contact
description:
---
<!--
<form  action="https://docs.google.com/forms/d/e/1FAIpQLSe0YnJOEo5w9LEqIG2pXLjvgxqIUjnDkB1wWCrSb1UG6zTWcA/formResponse" target="_self" method="POST" id="mG61Hd">
  <h3>Name</h3>
  <input type="text" jsname="YPqjbf" autocomplete="off" tabindex="0" aria-label="Name" aria-describedby="i.desc.126476195 i.err.126476195" name="entry.72965298" value="" required="" dir="auto" data-initial-dir="auto" data-initial-value="">
  <h3>Email Address</h3>
  <input type="email" class="quantumWizTextinputPaperinputInput exportInput" jsname="YPqjbf" autocomplete="email" tabindex="0" aria-label="Your email" name="emailAddress" value="" required="" dir="auto" data-initial-dir="auto" data-initial-value="">
  <h3>Phone</h3>
  <input type="text" jsname="YPqjbf" autocomplete="off" tabindex="0" aria-label="Phone Number" aria-describedby="i.desc.109396163 i.err.109396163" name="entry.1279017643" value="" dir="auto" data-initial-dir="auto" data-initial-value="">

  <h3>Message</h3>
  <textarea jsname="YPqjbf" data-rows="1" tabindex="0" aria-label="Message" jscontroller="gZjhIf" jsaction="input:Lg5SV;ti6hGc:XMgOHc;rcuQ6b:WYd;" required="" name="entry.1143116338" dir="auto" data-initial-dir="auto" data-initial-value="" style="height: 24px;"></textarea>
  <input class="button" type="submit" value="Submit">

</form>
 https://code.lengstorf.com/get-form-values-as-json/
-->


<div style="width:100%; margin-top: 100px; text-align: center">
<!--<form action="https://script.google.com/macros/s/AKfycbz4-mbO8PXbC0FoBeLd0BHZ-mp8fMqKoMA5o5YJg4zNTJJI2EqW/exec" method="POST" id="test" formenctype="application/x-www-form-
-->



    <form id='foo'>
      <p>
        <label>Name</label>
        <input id='name' name='name' type='text'>
      </p><p>
        <label>Email Address</label>
        <input id='email' name='email' type='email'>
      </p><p>
        <label>Phone Number</label>
        <input id='phone' name='phone' type='tel'>
      </p><p>
        <label>Message</label>
        <textarea id='message' name='message' rows='5'></textarea>
      </p>
        <div id='success'></div>
        <button type='submit'>Send</button>
    </form>


</div>

<!--

https://stackoverflow.com/questions/10000020/ajax-post-to-google-spreadsheet

-->