---
title: Amanda McIntosh
email: am.mcintosh1@gmail.com
description: I’ve worked as a designer/illustrator for 5 years. I am flexible and fresh, with a keen eye for good design. My style is clean and bold, with subtle textures and strong typography. I enjoy exploring new mediums and techniques. My projects range from illustration and app development, to product photography and identity development.
---
    <section class="intro">
    <h1>{{title}}</h1>
      <p class="email">{{email}}</p>
      <p id="intro">{{description}}</p>



      <div class="proficiencies">
        <p>I am fluent in:</p>
        <ul>
         <li>HTML5</li>
         <li>CSS/SCSS</li>
          <li>Javascript</li>
        </ul>
        <p>I am proficient at:</p>
        <ul>
         <li>Adobe Creative Suite</li>
         <li>Microsoft</li>
         <li>Sketch</li>
         <li>WebFlow</li>
         <li>HubSpot</li>
        </ul>
      </div>
      <a id="download" href="./pdf/amandamcintoshportfolio.pdf" target="_blank">Download My Portfolio</a>
    </section>
