---
layout: home.hbs

title: Amanda McIntosh
splash: Looking for some fresh talent?
summary: Talented Freelance Designer/Devloper in San Diego, CA
email: am.mcintosh1@gmail.com

description: I’ve worked as a designer/illustrator for 5 years. I am flexible and fresh, with a keen eye for good design. My style is clean and bold, with subtle textures and strong typography. I enjoy exploring new mediums and techniques. My projects range from illustration and app development, to product photography and identity development.
---
<!--
<div class="aside">
  <h2>Need a logo quick?</h2>
  <p>I have 5 years of experience creating sleek, memorable brands. I’m committed to working with you until we’ve created a logo you love!</p>
  <button class="cta">Send Email</button>
</div>
-->

<div class="work">
<!--Note-to-self - this guy is designed to only work with three tabs right now.
  TODO:
   - Make swipable/touch-friendly
   - Make flexible with piece numbers
 -->
  <ul class="tabber">
    <li>
      <a href="#web_design" class="focused">Web Design</a>
      <a href="#identity">Identity</a>
      <a href="#print">Print</a>
    </li>
  </ul>
  <div class="tab-container">
    <div class="tab active" id="web_design">
      <div class="piece" id="">
        <a href=""><img src="img/logos/verigo.png" alt="" class="logo"></a>
      </div>

      <div class="piece" id="">
        <a href=""><img src="img/logos/paracosm.png" alt="" class="logo"></a>
      </div>

      <div class="piece" id="">
        <a href=""><img src="img/logos/estaramerica.png" alt="" class="logo"></a>
      </div>
    </div>
    <div class="tab" id="identity">
      <div class="piece" id="">
        <a href=""><img src="" alt="" class="logo"></a>
      </div>

      <div class="piece" id="">
        <a href=""><img src="" alt="" class="logo"></a>
      </div>

      <div class="piece" id="">
        <a href=""><img src="" alt="" class="logo"></a>
      </div>
    </div>
    <div class="tab" id="print">
      <div class="piece" id="">
        <a href=""><img src="" alt="" class="logo"></a>
      </div>

      <div class="piece" id="">
        <a href=""><img src="" alt="" class="logo"></a>
      </div>

      <div class="piece" id="">
        <a href=""><img src="" alt="" class="logo"></a>
      </div>
    </div>
  </div>
</div>

<div class="me">
  <img src="img/amandamcintosh.png" class="photo">
  <p id="intro">{{description}}</p>

<!--
<div class="pieces">
  <ul  class="portfolio">
    <li class='piece'>
      <a href="img/portfolio/dallas_poster.png">
       <img src="img/portfolio/dallas_poster.png" alt="">
      </a>
    </li>
    <li class='piece'>
      <a href="img/portfolio/presentation_design.png">
       <img src="img/portfolio/presentation_design.png" alt="">
      </a>
    </li>
    <li class='piece'>
      <a href="img/portfolio/pokemon-fight.png">
       <img src="img/portfolio/pokemon-fight.png" alt="">
      </a>
    </li>
    <li class='piece'>
      <a href="img/portfolio/diver-painting.jpg">
       <img src="img/portfolio/diver-painting.jpg" alt="">
      </a>
    </li>
    <li class='piece'>
      <a href="img/portfolio/winter_card.png">
        <img src="img/portfolio/winter_card.png" alt="">
      </a>
    </li>

    <li class='piece'>
      <a href="img/portfolio/budgie.png">
        <img src="img/portfolio/budgie.png" alt="">
      </a>
    </li>
  </ul>
</div>
-->
  <div class="proficiencies">
   <h3>I know...</h3>
    <ul>
    <li>HTML5</li>
    <li>CSS/SCSS</li>
    <li>Javascript</li>

    <li>Adobe Creative Suite</li>
    <li>Microsoft</li>
    <li>Sketch</li>
    <li>WebFlow</li>
    <li>HubSpot</li>
    </ul>
  </div>
</div>

<div class="portfolio">
  <div class="icon-grid">
    <div>
      <img src="" alt="">
      <p>Branding</p>
    </div>
    <div>
      <img src="" alt="">
      <p>SEO/Marketing</p>
    </div>
    <div>
      <img src="" alt="">
      <p>Photography</p>
    </div>
    <div>
      <img src="" alt="">
      <p>Illustration</p>
    </div>
  </div>
  <a id="download" href="./pdf/amandamcintoshportfolio.pdf" target="_blank">Download PDF Portfolio</a>
</div>

<div class="contact">
  <div class="summary"></div>
  <div class="form"></div>
</div>

<div class="footer"></div>