---
title: Work
description: I’ve worked as a designer/illustrator for 5 years. I am flexible and fresh, with a keen eye for good design. My style is clean and bold, with subtle textures and strong typography. I enjoy exploring new mediums and techniques. My projects range from illustration and app development, to product photography and identity development.
---
    <section class="intro">
    <h1>{{title}}</h1>

      <p class="email">{{email}}</p>
      <p id="intro">{{description}}</p>

      {{> projects}}

      {{> pieces}}

    </section>
