---
title: About Me
description: I’ve worked as a designer/illustrator for 5 years. I am flexible and fresh, with a keen eye for good design. My style is clean and bold, with subtle textures and strong typography. I enjoy exploring new mediums and techniques. My projects range from illustration and app development, to product photography and identity development.
---

<section class="padding">
<p>I want to create things that make a difference. I aspire to work on challenging, meaningful projects under the mentorship of the best thinkers and makers around. I am always looking out for opportunities to grow my portfolio and skills, creating compelling pieces with thoughtful, innovative design. If you have a gig you think I’d be good for, please drop me a line!</p>

<p>For the past 5 years, I have been an in-house designer and developer tech start-ups. My time was evenly split between front-end development and design. My projects ranged from a Javascript-based front-end GUI to conversion-focused landing pages, whimsical illustrations to product photography, poster designs to identity development.
</p><p>
I am unconventional: I graduated with a degree in Health Sciences (studious!), I spent a summer wrangling horses in Montana (animal lover!), and I thru-hiked the Appalachian trail (adventurous!). All of my design skills have been self-taught through hundreds of hours of independent work.</p>
</section>


<section class="grey padding text-centered">
<h3>The power of imagination makes us infinite.</h3>
<h4>John Muir</h4>
</section>