---
title: Amanda McIntosh | Resume
---

<section class="resume">
  <div class="employment">
    <h2>Employment</h2>
    <p>These are companies I have worked for in the capacity of a designer/developer, and exclude freelance clients and stints as a thru-hiker and horse-wrangler.</p>

    <div class="job">
      <h3><a href="https://paracosm.io">Paracosm</a></h3>
      <span class="date">Jan 2015 – Present</span>
      <p>Front-End Web Developer & Graphic Designer</p>

      <p class="description">
        <ul>
          <li>Design and develop the GUI for a mobile web app using Javascript/JQuery & HTML/SCSS</li>
          <li>Re-envision and define company-wide branding</li>
          <li>Create collateral for pitch decks</li>
          <li>Design, mock-up, and create conversion-focused landing pages using Adobe Photoshop and HubSpot</li>
          <li>Design, mock-up. and develop static web content using Webflow</li>
          <li>Create illustrations for social media, pitch decks and other company branding needs</li>
        </ul>
      </p>
    </div>
    <div class="job">
      <h3><a href="http://www.estaramerica.com">EStar America</a></h3>
      <span class="date">Aug 2014 – Aug 2015</span>
      <p>Front-End Web Developer & Graphic Designer</p>

      <p class="description">
        <ul>
          <li>Conceptualized and designed product packaging for consumer electronics products</li>
          <li>Designed, edited and illustrated users manuals for products in Adobe Illustrator</li>
          <li>Took high-quality product photos for use on packaging materials and in web marketing</li>
          <li>Designed and carried out advertising campaigns for products on social media ad platforms and Google Ad Words</li>
          <li>Created booth collateral for company booth, then served on a team of company spokespersons at CES2015.</li>
          <li>Worked with a design and marketing team to develop company store using BigCommerce.</li>
        </ul>
      </p>
    </div>
    <div class="job">
      <h3><a href="http://www.bitcauldron.com">Bit Cauldron Corporation</a></h3>
      <span class="date">Dec 2012 – Aug 2014</span>
      <p>Web Designer & Graphic Designer</p>

      <p class="description">
        <ul>
          <li>Translated management's vision into high-quality, compelling pitch decks</li>
          <li>Provided objective feedback on design-related projects and company image</li>
          <li>Modified audio and visual files using After Effects, Premier and Audition to create company demos</li>
          <li>Worked in a high-stress atmosphere to meet tight deadlines</li>
          <li>Designed a mockup for an android audio player application</li>
        </ul>
      </p>
    </div>
  </div>


  <div class="education">
    <h2>Education</h2>
    <p>Bachelor's Degree, Health Sciences, University of Florida, Gainesville, Fl, GPA: 3.75</p>
    <p>Associates of Arts Degree, Santa Fe College, Gainesville, Fl, GPA: 3.95</p>
  </div>

</section>