---
class: work
title: Amanda McIntosh | Work
description: I’ve worked as a designer/illustrator for 5 years. I am flexible and fresh, with a keen eye for good design. My style is clean and bold, with subtle textures and strong typography. I enjoy exploring new mediums and techniques. My projects range from illustration and app development, to product photography and identity development.
---


{{> projects}}

<div class="logos">
 <h1>Logos</h1>
  <img src="img/portfolio/logos/blackcastiron_logo.png" alt="">
  <img src="img/portfolio/logos/candence_logo.png" alt="">
  <img src="img/portfolio/logos/oar_logo.png " alt="">
  <img src="img/portfolio/logos/paunchy_logo.png " alt="">
  <img src="img/portfolio/logos/rosequartz_logo.png " alt="">
  <img src="img/portfolio/logos/sequoia.png " alt="">
  <img src="img/portfolio/logos/taltonia_logo.png " alt="">
  <img src="img/portfolio/logos/yosemite valley.png " alt="">
  <img src="img/portfolio/logos/fieldwork_logo.png " alt="">
  <img src="img/portfolio/logos/fieldwork2_logo.png " alt="">

</div>

