{{> header}}

<body {{#if class}}class="{{class}}" {{/if}}>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TF5CLN3"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

  <div class="loader">
    <div class="loader-img">
    </div>
    <div class="loader-text">Loading...</div>
  </div>

  <div class="container">
    {{> nav }} {{#if home}}
    <div class="feature">
      <h1>{{summary}}</h1>
      <a href="contact.html" class="contact-button">Let's Work Together!</a>
    </div>
    {{/if}}

    <div class="content">
      {{> body }}
    </div>
  </div>

  <div class="footer">
    <div class="summary">
      <h4>&copy; Amanda McIntosh, 2018</h4>
      <p>I'm a designer, developer, and adventurer</p>
      <p>Based in San Diego, CA</p>
      <p>352-443-2892</p>
      <p>amandamcintoshdesign@gmail.com</p>
    </div>

    <a href="contact.html" class="contact-button">Let's Work Together!</a>

  </div>
  {{> footer}}