<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="description" content="{{description}}">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title> {{title}} </title>

  <link rel="apple-touch-icon" href="icon.png">
  <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">
  <link rel="stylesheet" href="css/style.min.css">
</head>

<body {{#if class}}class="{{class}}"{{/if}}>


   <div class="container">
    {{> nav }}

    {{#if home}}
      <div class="feature" style='background-image: url("./img/background-medium.jpg");'>
        <h1>{{summary}}</h1>
        <a href="contact.html" class="contact-button">Let's Work Together!</a>
      </div>
    {{/if}}

    <div class="content">
    {{> body }}
    </div>
  </div>

  <div class="footer">
    <div class="summary">
      <h4>&copy; Amanda McIntosh, 2018</h4>
      <p>I'm a designer, developer, and adventurer</p>
      <p>Based in San Diego, CA</p>
      <p>352-443-2892</p>
      <p>amandamcintoshdesign@gmail.com</p>
    </div>

    <a href="contact.html" class="contact-button">Let's Work Together!</a>

  </div>

  <script src="js/vendor/jquery-3.2.1.min.js" type="text/javascript"></script>
  <script src="js/vendor/jquery.magnific-popup.min.js" type="text/javascript"></script>
  <script src="js/main.js" type="text/javascript"></script>
  <script src='js/googleform.js'></script>

</body>

</html>