<header>
 <div class="nav-info">
   <p><strong>Amanda McIntosh</strong> Designer/Developer based in San Diego, CA </p>
 </div>

 <div class="nav-contact">
   <p>designcodeadventure@gmail.com</p>

   {{> socials}}
 </div>

  <nav class="primary">
    <ul>
      <li class="link">
        <a href="index.html">Home</a>
      </li>
      <li class="link">
        <a href="work.html">My Work</a>
      </li>


      <li class="link">
        <a href="me.html">Me</a>
<!--
        <div class="dropdown about">
          <a href="resume.html">Resume</a>
          <a href="adventures.html">Adevntures</a>
        </div>
-->
      </li>

      <li class="link">
        <a href="resume.html">Resume</a>
      </li>


    <li class="link">
       <a href="contact.html">Contact</a>

<!--      <a href="blog.html">Blog</a>-->
    </li>

    </ul>
  </nav>

</header>