---
title: Amanda McIntosh email: am.mcintosh1@gmail.com description: I’ve worked as a designer/illustrator for 5 years. I am flexible and fresh, with a keen eye for good design. My style is clean and bold, with subtle textures and strong typography. I enjoy exploring new mediums and techniques. My projects range from illustration and app development, to product photography and identity development.

---
<section class="pieces">
 <h1>Also...</h1>
  <ul  class="portfolio">
    <li class="title-box">
      <h2>Graphic Design</h2>
    </li>
    <li class='piece'>
      <a href="img/portfolio/dallas_poster.png">
       <img src="img/portfolio/dallas_poster.png" alt="">
        <h3>Event Flyer</h3>
      </a>
    </li>
    <li class='piece'>
      <a href="img/portfolio/presentation_design.png">
       <img src="img/portfolio/presentation_design.png" alt="">
        <h3>Presentation Template</h3>
      </a>
    </li>
    <li class="title-box">
      <h2>Illustrations</h2>
    </li>
    <li class='piece'>
      <a href="img/portfolio/pokemon-fight.png">
       <img src="img/portfolio/pokemon-fight.png" alt="">
        <h3>Pokemon</h3>
      </a>
    </li>
    <li class='piece'>
      <a href="img/portfolio/diver-painting.jpg">
       <img src="img/portfolio/diver-painting.jpg" alt="">
        <h3>Diver</h3>
      </a>
    </li>
    <li class='piece'>
      <a href="img/portfolio/winter_card.png">
        <img src="img/portfolio/winter_card.png" alt="">
        <h3>Christmas Card</h3>
      </a>
    </li>

    <li class='piece'>
      <a href="img/portfolio/budgie.png">
        <img src="img/portfolio/budgie.png" alt="">
        <h3>Space Budgie</h3>
      </a>
    </li>
    <li class="title-box logo-title">
      <h2>Logos</h2>
    </li>
    <li class="logos">

     {{#each logos }}
     <img src="img/portfolio/logos/{{ this.src }}" alt="{{this.alt}}">
      {{/each}}
    </li>
  </ul>
</section>
