/*
// AMANDAMCINTOSH.DESIGN
// Last Updated on 1.31.18
//
// Pardon my dust, I'm still working on finishing this in my spare time!

// BREAKPOINTS:
// 650px - Medium
// 500px - Small
// 350px - X-Small

Light green: #c8db77 rgb(200,219,119)
Almost-black: #110300 rgb(17,3,0)
Dark grey: #344238
Darker grey: #1e3026

Ratio based on the augmented fourth ratio:
-------------
2.827
1.99
1.414
1
.707
.5
.354
*/
/* ============== */
/* UTILITIES */
/* ============== */
/* ============== */
/* RESETS */
/* ============== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a {
  text-decoration: none; }

/* ============== */
/* BASE
/* ============== */
body {
  font-size: 14px;
  font-family: 'Quicksand', sans-serif;
  color: #110300; }

h1 {
  margin-bottom: .125rem; }

a[class*='button'] {
  display: inline-block;
  font-family: Quicksand;
  font-weight: 500;
  margin: 30px 10px;
  padding: .707rem 1.414rem;
  text-align: center; }

.text-centered {
  text-align: center; }

/* Buttons */
.ghost-button {
  background: #1e3026;
  border: 3px solid #c8db77;
  color: #c8db77; }

.button-top-border {
  border-top: 3px solid #1e3026;
  color: #1e3026; }

/* ============== */
/* LAYOUT
/* ============== */
.container {
  width: 100%;
  overflow: hidden;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-end; }

/* ============== */
/* NAVIGATION
/* ============== */
header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  background: #c8db77;
  padding: .354rem;
  position: absolute;
  width: 100%; }
  @media screen and (max-width: 650px) {
    header {
      flex-flow: column;
      text-align: center strong;
        text-align-text-transform: lowercase;
        text-align-display: block; } }
  header .nav-contact {
    transition: all .5s ease;
    padding: .354rem .5rem;
    position: absolute;
    top: 2rem;
    left: 0;
    text-align: center;
    background: #344238;
    color: white;
    font-size: .707rem;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center; }
    @media screen and (max-width: 650px) {
      header .nav-contact {
        width: 100%;
        order: 2;
        position: static; }
        header .nav-contact .triangle {
          display: none;
          opacity: 0; } }
    @media screen and (max-width: 500px) {
      header .nav-contact {
        order: 1; } }
  header .socials {
    border-right: 1px solid white;
    margin-right: .354rem;
    padding-right: .354rem;
    order: -1; }
    header .socials .triangle {
      width: 0px;
      height: 0px;
      display: block;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid #344238;
      margin-top: -14px;
      position: absolute; }
    header .socials svg {
      width: 1rem;
      margin: .25rem; }
    header .socials svg * {
      stroke: #FFF; }
    header .socials svg:hover * {
      fill: #FFF;
      stroke: #000; }
  header nav li {
    list-style: none; }
  header nav a {
    padding: .24rem;
    display: block;
    color: #110300;
    font-weight: 500;
    border-bottom: 2px solid transparent;
    transition: all linear .25s; }
    header nav a:hover {
      color: #1e3026;
      border-bottom: 2px solid black;
      transition: all linear .125s; }
  header nav .link {
    display: inline-block; }
  header nav .dropdown {
    display: none; }
  @media screen and (max-width: 650px) {
    header nav {
      margin: 10px auto;
      font-size: 1rem; } }
  @media screen and (max-width: 500px) {
    header {
      flex-flow: row wrap; }
      header .nav-info, header .nav-contact, header nav {
        position: static;
        width: 100%;
        text-align: center; } }

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  justify-content: flex-end;
  z-index: 100000;
  margin-top: none; }
  .sticky .nav-info {
    margin-top: -24px;
    transition: all 0.5s ease; }
  @media screen and (min-width: 650px) {
    .sticky .nav-info {
      display: none; } }
  .sticky .nav-contact {
    top: 0; }

@keyframes stickyanimation {
  0% {
    top: -200px; }
  100% {
    top: 0px; } }
.container > .content {
  padding-top: 100px; }

/* ============== */
/* PAGE: HOME
/* ============== */
.feature {
  min-height: 85vh;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  align-content: flex-end;
  padding: 1rem;
  padding-top: 5rem;
  background: #0a0a0a;
  background-attachment: fixed;
  background-image: url(../img/background.jpg);
  background-size: cover;
  background-position: left center;
  font-size: 1rem;
  text-align: left;
  color: white;
  text-shadow: 2px 2px black; }
  @media screen and (max-width: 500px) {
    .feature {
      text-align: center; } }

.feature h1 {
  padding: 0;
  margin: .125rem; }

.work {
  width: 100%; }

.tabber {
  margin-bottom: 1rem;
  text-align: center; }
  .tabber a {
    color: #110300;
    margin: 1rem .354rem;
    font-size: 1rem;
    vertical-align: bottom;
    border-bottom: 2px solid rgba(200, 200, 200, 0);
    transition: all .5s linear; }
    .tabber a:hover {
      border-color: #c8c8c8;
      animation: text-pulse .5s infinite .5s ease-in-out alternate; }
    .tabber a.focused {
      border-bottom: 2px solid #110300; }

.tab-container {
  position: relative;
  width: 75%;
  height: 300px;
  margin: auto;
  overflow: hidden; }

.tab {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  transition: left .5s ease-in; }
  .tab .piece {
    width: 20vw;
    height: 20vw;
    margin: .354rem;
    border: 1px solid black;
    background: grey; }
    .tab .piece a {
      width: 100%;
      height: 100%;
      display: flex;
      flex-flow: row;
      align-items: center;
      justify-content: center;
      text-align: center; }
    .tab .piece img {
      width: 50%; }

.cuppa-joe {
  display: grid;
  padding: 5% 0 5% 5%;
  overflow: hidden;
  align-items: center;
  grid-template-rows: repeat(1, 300px);
  grid-auto-flow: column;
  grid-auto-columns: 45%;
  grid-column-gap: 10%;
  position: relative;
  margin-bottom: 3rem; }
  @media screen and (max-width: 650px) {
    .cuppa-joe {
      grid-template-rows: repeat(1, 300px); }
      .cuppa-joe a {
        margin: 30px 0px; } }
  @media screen and (max-width: 500px) {
    .cuppa-joe {
      display: flex;
      flex-flow: column;
      /* justify-content: center; */
      align-items: center; }
      .cuppa-joe img {
        order: -1;
        max-height: 200px; } }
  .cuppa-joe img {
    width: 100%; }
  .cuppa-joe p {
    line-height: 1.25rem;
    font-kerning: 20px;
    font-style: italic;
    margin-top: 1.25rem;
    font-size: .75rem; }
  .cuppa-joe .cuppa-joe-label {
    position: absolute;
    right: 10%;
    background: white;
    padding: 2.5%;
    display: inherit;
    text-align: center; }
    @media screen and (max-width: 500px) {
      .cuppa-joe .cuppa-joe-label {
        display: inline-grid;
        right: unset; } }
  .cuppa-joe #coffee-icon {
    margin: auto;
    width: 100px; }
    .cuppa-joe #coffee-icon * {
      transition: all .125s ease-in-out; }
    .cuppa-joe #coffee-icon ~ .description {
      opacity: 0; }
  .cuppa-joe #coffee-icon:hover .icon-sketch {
    opacity: 1; }
  .cuppa-joe #coffee-icon:hover .rendered-icon {
    opacity: 0; }
  .cuppa-joe #coffee-icon:hover ~ .description {
    opacity: 1; }

.me {
  background: #DDDDDD;
  padding: 5% 0; }
  .me .photo {
    width: 120px;
    margin: 1rem auto 0;
    text-align: center;
    display: block; }
  .me #intro {
    max-width: 500px;
    margin: auto; }
  .me .proficiencies {
    margin: auto;
    width: 50%;
    min-width: 300px;
    max-width: 500px;
    text-align: center; }
  .me .proficiencies ul {
    padding: 0; }
  .me .proficiencies li {
    display: inline-block;
    border: 1px solid black;
    padding: .5rem;
    margin-top: .5rem; }

.portfolio, .contact {
  min-height: 200px; }

.portfolio {
  background: #344238;
  color: white; }

.contact {
  display: flex;
  flex-flow: row;
  background: #1e3026;
  color: white; }
  .contact > div {
    flex: 1; }
  .contact .form {
    background: #110300; }

.footer {
  background: #110300;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  padding: 2rem 0; }

.contact-button {
  font-family: 'Quicksand';
  font-weight: 500;
  text-shadow: none;
  border: 0;
  background: #c8db77;
  color: #110300;
  padding: .707rem 1.414rem;
  margin: 1.414rem; }

/* ============== */
/* PAGE: RESUME
/* ============== */
.resume {
  max-width: 50%;
  margin: auto; }

/* ============== */
/* PAGE: CONTACT
/* ============== */
.contact-form-container {
  margin-bottom: 2rem;
  text-align: center; }
  .contact-form-container .form-field {
    margin: 1rem auto; }
  .contact-form-container h3 {
    margin-bottom: .25rem;
    font-weight: 500; }
  .contact-form-container button {
    background: #ff804a;
    border: 0;
    color: white;
    padding: .75rem 1.5rem;
    outline: none;
    width: 100%; }
  .contact-form-container form {
    width: 400px;
    margin: auto; }
  .contact-form-container input,
  .contact-form-container textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, 0.25); }

.form-loader {
  width: 100%;
  background: rgba(244, 244, 1, 0.5);
  position: absolute;
  left: 0;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center; }

/* ============== */
/* PAGE: WORK
/* ============== */
.work h1, .work h2 {
  text-align: center; }

.listing {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  overflow: hidden;
  margin-top: 0;
  z-index: 0;
  margin-bottom: 100px; }
  @media (max-width: 650px) {
    .listing {
      margin-top: 50px; } }
  .listing .link {
    flex: auto 30%;
    width: 20vw;
    height: 20vw;
    border: 4px solid white;
    background: #DDDDDD;
    overflow: hidden;
    cursor: pointer; }
    @media (max-width: 900px) {
      .listing .link {
        flex: 1 30vw;
        height: 30vw; } }
    @media (max-width: 650px) {
      .listing .link {
        flex: 1 40vw;
        height: 30vw; } }
  .listing a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%; }
    .listing a:hover img {
      transform: scale(2);
      transition: all .25s ease-in-out; }
  .listing img {
    max-width: 75%;
    max-height: 40%; }

.projects-nav {
  display: none; }
  .projects-nav .close {
    border: 2px solid black;
    padding: 1rem; }

.projects h1 {
  margin-top: 75px;
  transition: all 1s ease; }
  @media screen and (min-width: 650px) {
    .projects h1 {
      margin-top: 0; } }
  .projects h1.open-project {
    margin-top: -35vw; }
    @media screen and (max-width: 900px) {
      .projects h1.open-project {
        margin-top: -80vw; } }
    @media screen and (max-width: 650px) {
      .projects h1.open-project {
        margin-top: -120vw; } }
    @media screen and (max-width: 500px) {
      .projects h1.open-project {
        margin-top: -120vw; } }

.project {
  display: none;
  width: 75%;
  margin: auto;
  margin-bottom: 100px;
  clear: both; }
  .project.open {
    display: block;
    margin-top: 150px; }
  .project h2 {
    font-size: 2.5rem;
    margin: 2rem 0 .5rem;
    font-weight: 400; }
  .project h3 {
    border-top: 1px solid black;
    padding-top: .5rem;
    margin-bottom: 1rem; }
  .project p {
    width: 75%; }
  .project img {
    max-width: 100%; }
  .project .summary {
    margin-bottom: 60px; }
    .project .summary h2 {
      text-align: left; }
  @media screen and (max-width: 500px) {
    .project {
      width: 95%; }
      .project .summary {
        width: 75%;
        margin: auto;
        margin-bottom: 25px; }
      .project p {
        width: 100%; } }

.logos {
  width: 75%;
  margin: auto;
  text-align: center; }
  .logos img {
    max-width: 200px;
    max-height: 100px;
    padding: 20px;
    margin: .125rem;
    margin-right: 0;
    border: solid 1px black;
    transition: all .5s ease-in; }
    .logos img:hover {
      max-width: 225px;
      max-height: 115px;
      transition: all .5s ease-in; }

/* ============== */
/* ANIMATIONS
/* ============== */
@keyframes text-pulse {
  0% {
    border-color: #c8c8c8; }
  100% {
    border-color: #c8db77; } }

/*# sourceMappingURL=style.css.map */
