/*
// AMANDAMCINTOSH.DESIGN
// Last Updated on 1.31.18
//
// Pardon my dust, I'm still working on finishing this in my spare time!

// BREAKPOINTS:
// 650px - Medium
// 500px - Small
// 350px - X-Small

Light green: #c8db77 rgb(200,219,119)
Almost-black: #110300 rgb(17,3,0)
Dark grey: #344238
Darker grey: #1e3026

Ratio based on the augmented fourth ratio:
-------------
2.827
1.99
1.414
1
.707
.5
.354
*/
/* ============== */
/* UTILITIES */
/* ============== */
/* ============== */
/* RESETS */
/* ============== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a {
  text-decoration: none; }

/* ============== */
/* BASE
/* ============== */
body {
  font-size: 14px;
  font-family: 'Quicksand', sans-serif;
  color: #110300; }

h1 {
  margin-bottom: .125rem; }

/* ============== */
/* LAYOUT
/* ============== */
.container {
  width: 100%;
  overflow: hidden;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-end; }

/* ============== */
/* NAVIGATION
/* ============== */
header {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  background: #c8db77;
  padding: .354rem; }
  header strong {
    text-transform: lowercase; }
    @media screen and (max-width: 650px) {
      header strong {
        display: block; } }
  header .nav-contact {
    padding: .354rem .5rem;
    position: absolute;
    top: 2rem;
    text-align: center;
    background: #344238;
    color: white;
    font-size: .707rem;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center; }
    @media screen and (max-width: 500px) {
      header .nav-contact {
        order: 1; } }
  header .socials {
    border-right: 1px solid white;
    margin-right: .354rem;
    padding-right: .354rem;
    order: -1; }
    header .socials .triangle {
      width: 0px;
      height: 0px;
      display: block;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid #344238;
      margin-top: -14px;
      position: absolute; }
    header .socials svg {
      width: 1rem;
      margin: .25rem; }
    header .socials svg * {
      stroke: #FFF; }
    header .socials svg:hover * {
      fill: #FFF;
      stroke: #000; }
  header nav li {
    list-style: none; }
  header nav a {
    padding: .24rem;
    display: block;
    color: #110300;
    font-weight: 500;
    border-bottom: 2px solid transparent;
    transition: all linear .25s; }
    header nav a:hover {
      color: #1e3026;
      border-bottom: 2px solid black;
      transition: all linear .125s; }
  header nav .link {
    display: inline-block; }
  header nav .dropdown {
    display: none; }
  @media screen and (max-width: 500px) {
    header {
      flex-flow: row wrap; }
      header .nav-info, header .nav-contact, header nav {
        position: static;
        width: 100%;
        text-align: center; } }

/* ============== */
/* PAGE: HOME
/* ============== */
.feature {
  min-height: 85vh;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  align-content: flex-end;
  padding: 1rem;
  padding-top: 5rem;
  background: #CCC;
  background-attachment: fixed;
  background-image: url(../img/background.jpg);
  background-size: cover;
  background-position: left center;
  font-size: 1rem;
  text-align: left;
  color: white;
  text-shadow: 2px 2px black; }

.feature h1 {
  padding: 0;
  margin: .125rem; }

.work {
  width: 100%; }

.tabber {
  margin-bottom: 1rem;
  text-align: center; }
  .tabber a {
    color: #110300;
    margin: 1rem .354rem;
    font-size: 1rem;
    vertical-align: bottom;
    border-bottom: 2px solid rgba(200, 200, 200, 0);
    transition: all .5s linear; }
    .tabber a:hover {
      border-color: #c8c8c8;
      animation: text-pulse .5s infinite .5s ease-in-out alternate; }
    .tabber a.focused {
      border-bottom: 2px solid #110300; }

.tab-container {
  position: relative;
  width: 75%;
  height: 300px;
  margin: auto;
  overflow: hidden; }

.tab {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  transition: left .5s ease-in; }
  .tab .piece {
    width: 20vw;
    height: 20vw;
    margin: .354rem;
    border: 1px solid black;
    background: grey; }
    .tab .piece a {
      width: 100%;
      height: 100%;
      display: flex;
      flex-flow: row;
      align-items: center;
      justify-content: center;
      text-align: center; }
    .tab .piece img {
      width: 50%; }

.cuppa-joe {
  display: grid;
  padding: 5%;
  overflow: hidden;
  align-items: center;
  grid-template-rows: repeat(1, 200px);
  grid-auto-flow: column;
  grid-auto-columns: 50%;
  position: relative; }
  .cuppa-joe img {
    width: 100%; }
  .cuppa-joe span {
    position: absolute;
    right: 10%;
    background: white;
    padding: 2.5%; }
  .cuppa-joe #coffee-icon {
    width: 100px; }
    .cuppa-joe #coffee-icon * {
      transition: all .125s ease-in-out; }
  .cuppa-joe #coffee-icon:hover .icon-sketch {
    opacity: 1; }
  .cuppa-joe #coffee-icon:hover .rendered-icon {
    opacity: 0; }

.me {
  background: #DDDDDD; }
  .me .photo {
    width: 120px;
    margin: 1rem auto 0;
    text-align: center;
    display: block; }
  .me #intro {
    max-width: 500px;
    margin: auto; }
  .me .proficiencies {
    margin: auto;
    width: 50%;
    min-width: 300px;
    max-width: 500px;
    text-align: center; }
  .me .proficiencies ul {
    padding: 0; }
  .me .proficiencies li {
    display: inline-block;
    border: 1px solid black;
    padding: .5rem;
    margin-top: .5rem; }

.portfolio, .contact {
  min-height: 200px; }

.portfolio {
  background: #344238;
  color: white; }

.contact {
  display: flex;
  flex-flow: row;
  background: #1e3026;
  color: white; }
  .contact > div {
    flex: 1; }
  .contact .form {
    background: #110300; }

.footer {
  background: #110300;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  padding: 2rem 0; }

.contact-button {
  font-family: 'Quicksand';
  font-weight: 500;
  text-shadow: none;
  border: 0;
  background: #c8db77;
  color: #110300;
  padding: .707rem 1.414rem;
  margin: 1.414rem; }

/* ============== */
/* PAGE: WORK
/* ============== */
.work h1, .work h2 {
  text-align: center; }

.listing {
  display: flex;
  flex-flow: row wrap;
  justify-content: center; }
  .listing .link {
    flex: auto 30%;
    width: 20vw;
    height: 20vw;
    border: 4px solid white;
    background: #DDDDDD;
    overflow: hidden;
    cursor: pointer; }
  .listing a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%; }
    .listing a:hover img {
      transform: scale(2);
      transition: all .25s ease-in-out; }
  .listing img {
    max-width: 75%;
    max-height: 40%; }

.project {
  display: none;
  width: 75%;
  margin: auto;
  clear: both; }
  .project.open {
    display: block; }
  .project h2 {
    font-size: 2.5rem;
    margin: 2rem 0 .5rem;
    font-weight: 400; }
  .project h3 {
    border-top: 1px solid black;
    padding-top: .5rem;
    margin-bottom: 1rem; }
  .project p {
    width: 75%; }
  .project img {
    max-width: 100%; }
  .project .summary {
    position: fixed;
    width: 50%;
    background: white;
    padding: 2rem;
    text-align: left;
    box-shadow: 10px 5px 30px black;
    left: 0;
    top: 0; }
    .project .summary h2 {
      text-align: left; }

.logos {
  width: 75%;
  margin: auto;
  text-align: center; }
  .logos img {
    max-width: 200px;
    max-height: 100px;
    padding: 20px;
    margin: .125rem;
    margin-right: 0;
    border: solid 1px black;
    transition: all .5s ease-in; }
    .logos img:hover {
      max-width: 225px;
      max-height: 115px;
      transition: all .5s ease-in; }

/* ============== */
/* ANIMATIONS
/* ============== */
@keyframes text-pulse {
  0% {
    border-color: #c8c8c8; }
  100% {
    border-color: #c8db77; } }

/*# sourceMappingURL=style.css.map */
