/*
// AMANDAMCINTOSH.DESIGN
// Last Updated on 1.31.18
//
// Pardon my dust, I'm still working on finishing this in my spare time!

// BREAKPOINTS:
// 650px - Medium
// 500px - Small
// 350px - X-Small

Light green: #c8db77 rgb(200,219,119)
Almost-black: #110300 rgb(17,3,0)
Dark grey: #344238
Darker grey: #1e3026
*/

$light-green:  #c8db77;
$black: #110300;
$dark-grey: #344238;
$darker-grey: #1e3026;

/* ============== */
/* UTILITIES */
/* ============== */


/* ============== */
/* LAYOUT
/* ============== */

/* ============== */
/* NAVIGATION
/* ============== */
nav {
  background: $light-green;

  a {
    border: 1px solid rgba(0,0,0,1);
    padding: .24rem;
  }
}

/* ============== */
/* PAGE: HOME
/* ============== */

