/*
// AMANDAMCINTOSH.DESIGN
// Last Updated on 1.31.18
//
// Pardon my dust, I'm still working on finishing this in my spare time!

// BREAKPOINTS:
// 650px - Medium
// 500px - Small
// 350px - X-Small

Light green: #c8db77 rgb(200,219,119)
Almost-black: #110300 rgb(17,3,0)
Dark grey: #344238
Darker grey: #1e3026

Ratio based on the augmented fourth ratio:
-------------
2.827
1.99
1.414
1
.707
.5
.354
*/
$large: 900px;
$medium: 650px;
$small: 500px;
$xsmall: 350px;

$light-green:  #c8db77;
$dark-grey: #344238;
$darker-grey: #1e3026;
$light-grey: #DDDDDD;

$black: #110300;
$trans-black: rgba(0,0,0,.1);
$trans-white: rgba(255,255,255,.1);

/* ============== */
/* UTILITIES */
/* ============== */


/* ============== */
/* RESETS */
/* ============== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

a {
  text-decoration: none;
}



/* ============== */
/* BASE
/* ============== */
body {
  font-size: 14px;
  font-family: 'Quicksand', sans-serif;
  color: $black;
}

h1 {
  margin-bottom: .125rem;
}

a[class*='button']{
  display: inline-block;
  font-family: Quicksand;
  font-weight: 500;
  margin: 30px 10px;
  padding: .707rem 1.414rem;
  text-align: center;
}
.text-centered {
  text-align: center
}

/* Buttons */
.ghost-button {
  background: $darker-grey;
  border: 3px solid $light-green;
  color: $light-green;
}

.button-top-border {
  border-top: 3px solid #1e3026;
  color: #1e3026;
}
/* ============== */
/* LAYOUT
/* ============== */
.container {
  width: 100%;

  overflow: hidden;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-end;
}



/* ============== */
/* NAVIGATION
/* ============== */
header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  background: $light-green;
  padding: .354rem;
  position: absolute;
  width: 100%;

  @media screen and (max-width: $medium){
    flex-flow: column;
    text-align: center

    strong {
      text-transform: lowercase;
      display:block
      }
  }

  // Nav Contact
  .nav-contact {
    transition: all .5s ease;
    padding: .354rem .5rem;
    position: absolute;
    top: 2rem;
    left: 0;
    text-align: center;
    background: $dark-grey;
    color: white;
    font-size: .707rem;

    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;


    @media screen and (max-width: $medium) {
      width: 100%;
      order: 2;
      position: static;

      .triangle {
        display: none;
        opacity: 0
      }
    }

    @media screen and (max-width: $small){
      order: 1;
    }

  }

  // Social Media
  .socials {
    border-right: 1px solid white;
    margin-right: .354rem;
    padding-right: .354rem;
    order: -1;

    .triangle {
      width: 0px;
      height: 0px;
      display: block;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid $dark-grey;
      margin-top: -14px;
      position: absolute;
    }
    // RESPONSIFY:
    //border-top: 1px solid white;
    //margin-top: .354rem;
    //    svg {
    //      width: 2rem;
    //      margin: .25rem;
    //    }

    svg {
      width: 1rem;
      margin: .25rem;
    }
    svg * {
      stroke: #FFF
    }
    svg:hover * {
      fill: #FFF;
      stroke: #000;
    }
  }


  // Nav Links
  nav {
    li {
      list-style: none
    }
    a {
      padding: .24rem;
      display: block;
      color: $black;
      font-weight: 500;
      border-bottom: 2px solid transparent;

      transition: all linear .25s;

      &:hover {
        color: $darker-grey;
        border-bottom: 2px solid black;

        transition: all linear .125s;
      }
    }
    .link {
      display: inline-block;
    }
    .dropdown {
      display: none
    }
    @media screen and (max-width: $medium){
      margin: 10px auto;
      font-size: 1rem;
    }
  }



    @media screen and (max-width: $small) {
    flex-flow: row wrap;
    .nav-info, .nav-contact, nav {
      position: static;
      width: 100%;
      text-align: center;
    }
  }
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  justify-content: flex-end;
  z-index: 100000;
  margin-top: none;

  .nav-info {
    margin-top: -24px;
    transition: all .5s ease
  }
  @media screen and (min-width: $medium){
    .nav-info {
      display:none;
    }
  }
  .nav-contact {
    top: 0;
  }
}

@keyframes stickyanimation{
  0% {
    top:-200px;
  }
  100% {
    top:0px
  }
}


.container>.content {
  padding-top: 100px;
}
/* ============== */
/* PAGE: HOME
/* ============== */
.feature {
  min-height: 85vh;

  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  align-content: flex-end;
  padding: 1rem;
  padding-top: 5rem;

  background: rgba(10,10,10,1);
  background-attachment: fixed;
  background-image: url(../img/background.jpg);
  background-size: cover;
  background-position: left center;

  font-size: 1rem;
  text-align: left;
  color: white;
  text-shadow: 2px 2px black;
  @media screen and (max-width: $small){
    text-align: center
  }
}

.feature h1{
  padding: 0;
  margin: .125rem;
}


// TABBER
//Page: Work
.work {
  width: 100%;
}

.tabber {
  margin-bottom: 1rem;
  text-align: center;

  li {}
  a {
    color: $black;
    margin: 1rem .354rem;
    font-size:1rem;
    vertical-align: bottom;
    border-bottom: 2px solid rgba(200,200,200,0);
    transition: all .5s linear;

    &:hover{
      border-color: rgba(200,200,200,1);
      animation: text-pulse .5s infinite .5s ease-in-out alternate;
    }

    &.focused {
      border-bottom: 2px solid $black;
    }
  }
}
.tab-container {
  position:relative;
  width: 75%;
  height: 300px;
  margin: auto;
  overflow: hidden;
}
.tab {
  display:flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  transition: left .5s ease-in;

  .piece {
    width: 20vw;
    height: 20vw;
    margin:.354rem;

    border: 1px solid black;
    background: grey;

    a {
      width: 100%;
      height: 100%;
      display: flex;
      flex-flow: row;
      align-items: center;
      justify-content: center;
      text-align: center;
    }

    img {
      width: 50%;
    }
  }
}

.tab.active {
}

// Cuppa Joe
.cuppa-joe {
  display: grid;
  padding: 5% 0 5% 5%;
  overflow: hidden;
  align-items: center;
  grid-template-rows: repeat(1,300px);
  grid-auto-flow: column;
  grid-auto-columns: 45%;
  grid-column-gap: 10%;
  position: relative;
  margin-bottom: 3rem;
  @media screen and (max-width: $medium){
      grid-template-rows: repeat(1,300px);
    a {
      margin: 30px 0px
    }
  }

  @media screen and (max-width: $small){
    display: flex;
    flex-flow: column;
    /* justify-content: center; */
    align-items: center;
    img {
      order: -1;
      max-height: 200px
    }
  }

  img {
    width: 100%;
  }
  p {
    line-height: 1.25rem;
    font-kerning: 20px;
    font-style: italic;
    margin-top: 1.25rem;
    font-size: .75rem;
  }
  .cuppa-joe-label {
    position: absolute;
    right: 10%;
    background: white;
    padding: 2.5%;
    display: inherit;
    text-align: center;
    @media screen and (max-width: $small){
      display: inline-grid;
      right: unset
    }
  }
  #coffee-icon {
    margin: auto;
    width: 100px;

    * {
      transition: all .125s ease-in-out;
    }
    &~.description {
      opacity:0;
    }
  }
  #coffee-icon:hover {
    .icon-sketch {
      opacity:1;
    }
    .rendered-icon {
      opacity: 0
    }
    &~.description {
      opacity: 1;
    }

  }
}

//MAIN
.me {
  background: $light-grey;
  padding: 5% 0;

  .photo {
    width:120px;
    margin: 1rem auto 0;
    text-align:center;
    display: block
  }

  #intro {
    max-width: 500px;
    margin: auto
  }

  .proficiencies {
    margin: auto;
    width: 50%;
    min-width: 300px;
    max-width: 500px;
    text-align: center;
  }

  .proficiencies ul{
    padding: 0
  }
  .proficiencies li{
    display: inline-block;
    border: 1px solid black;
    padding: .5rem;
    margin-top: .5rem;
  }
}

.portfolio, .contact {
  min-height:200px;
}

// PORTFOLIO
.portfolio {
  background: $dark-grey;
  color: white;
}

.contact {
  display: flex;
  flex-flow: row;
  background: $darker-grey;
  color: white;

  &> div {
    flex: 1;
  }
  .summary {
  }
  .form {
    background: $black;
  }
}




.footer {
  background: $black;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  padding: 2rem 0;

}

  .contact-button {
    font-family: 'Quicksand';
    font-weight: 500;
    text-shadow: none;
    border: 0;
    background: $light-green;
    color: $black;
    padding: .707rem 1.414rem;
    margin: 1.414rem;
  }

/* ============== */
/* PAGE: RESUME
/* ============== */
.resume {
  max-width: 50%;
  margin: auto;
}

.job {
  border: 1px solid #000;
  margin: .5rem 1rem 1rem 2rem;
  padding: 1rem 2rem;
  cursor: pointer;
  transition: background .15s ease;
}
.job:not(.active):hover {
  cursor: pointer;
  background: #c8db77;
  color: white;
  transition: background .5s ease;

  h3 a {
    color: white;
  }
}

.job h3 a {
  color: #344238
}
.job .details li {
  list-style: none;
  margin-top: .125rem;
  margin-left: 1rem;
  padding: .25rem;
  padding-left: 0;
  font-size: .75rem;
  border-bottom: 1px solid #CCC;
}
/* ============== */
/* PAGE: CONTACT
/* ============== */
.contact-form-container {
  margin-bottom: 2rem;
  text-align: center;
  .form-field {
    margin: 1rem auto;
  }
  h3 {
    margin-bottom: .25rem;
    font-weight: 500;
  }
  button {
    background: rgb(255, 128, 74);
    border: 0;
    color: white;
    padding: .75rem 1.5rem;
    outline: none;
    width: 100%;
  }
  form {
    width: 400px;
    margin: auto;
  }
  input,
  textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid rgba(0,0,0,.25)
  }
}

.form-loader{
  width: 100%;
  background: rgba(244, 244, 1, 0.5);
  position: absolute;
  left: 0;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;

}

/* ============== */
/* PAGE: WORK
/* ============== */
.work {
  h1, h2 {
    text-align: center
  }
}
.listing {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  overflow: hidden;
  margin-top: 0;
  z-index: 0;
  margin-bottom: 100px;
  @media (max-width:$medium){
    margin-top: 50px;
  }
  .link {
    flex: auto 30%;
    width: 20vw;
    height: 20vw;
    border: 4px solid white;
    background: $light-grey;
    overflow: hidden;
    cursor: pointer;

    @media (max-width:$large) {
      flex: 1 30vw;
      height: 30vw;
    }

    @media (max-width:$medium){
      flex: 1 40vw;
      height: 30vw;
    }

  }
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    &:hover img {
      transform: scale(2);
      transition: all .25s ease-in-out;
    }
  }
  img {
    max-width: 75%;
    max-height: 40%;
  }
}
.projects-nav {
    display: none;

  .close {
    border: 2px solid black;
    padding: 1rem;

    @media screen and (max-width: $small) {

    }
  }
}

.projects{
  h1{
    margin-top: 75px;
    transition: all 1s ease;

    @media screen and (min-width: $medium){
      margin-top: 0;
    }

    &.open-project {
      margin-top: -35vw;
      @media screen and (max-width: $large){
        margin-top: -80vw;
      }
      @media screen and (max-width: $medium){
        margin-top: -120vw;
      }
      @media screen and (max-width: $small){
        margin-top: -120vw;
      }
    }
  }
}

.project {
  display: none;
  width: 75%;
  margin: auto;
  margin-bottom: 100px;
  clear: both;

  &.open {
    display: block;
    margin-top: 150px;
  }

  h2 {
    font-size: 2.5rem;
    margin: 2rem 0 .5rem;
    font-weight: 400;
  }
  h3 {
    border-top: 1px solid black;
    padding-top: .5rem;
    margin-bottom: 1rem;
  }
  p {
    width: 75%;
  }
  img {
    max-width: 100%;
  }

  .summary {
    margin-bottom: 60px;

    h2 { text-align: left}
// Uncomment out when sticky summaries are fixed - 3-1-18
//    position: fixed;
//    width: 50%;
//    background: white;
//    padding: 2rem;
//    text-align: left;
//    box-shadow: 10px 5px 30px black;
//    left: 0;
//    top: 0;
  }

    @media screen and (max-width: $small){
    width: 95%;

    .summary {
      width: 75%;
      margin: auto;
      margin-bottom: 25px;
    }
    p {
      width: 100%;
    }
  }
}

.logos {
  width: 75%;
  margin: auto;
  text-align: center;

  img {
    max-width: 200px;
    max-height: 100px;
    padding: 20px;
    margin: .125rem;
    margin-right: 0;
    border: solid 1px black;
    transition: all .5s ease-in;

    &:hover{
      max-width: 225px;
      max-height: 115px;
      transition: all .5s ease-in;
    }
  }
}
/* ============== */
/* ANIMATIONS
/* ============== */
@keyframes text-pulse {
  0%      { border-color: rgba(200,200,200,1) }
//  25%     { font-size: 2rem; }
//  50%     { font-size: 1rem; }
//  75%     { font-size: 2rem; }
  100%    { border-color: $light-green; }
}